
/*---------------  CSS GRID LAYOUT  -------------------*/

.contactContent {
  grid-area: contentArea;
  display: grid;
  grid-template-rows: 100px 500px;
  grid-template-areas:    ' title '
                       ' contactForm ';
}

.contactForm {
  grid-area: contactForm;
  display: grid;
  grid-template-columns: auto 610px auto;
  grid-template-areas: '... terminalWindow ...';
  padding-top: 70px;

}

@media (max-width: 800px) {
  .contactForm {
    width: 600px;
  }
}

@media (max-width: 600px) {
  .contactForm {
    width: 420px;
  }
}

@media (max-width: 420px) {
  .contactForm {
    width: 360px;
  }

  .contactContent {
    grid-template-rows: 60px 500px;
  }
}

.terminalWrapper {
  grid-area: terminalWindow;
  font-family: "Print Char 21", monospace;
  font-weight: 900;
  border: thin solid black;
  border-radius: 4px;
  width: inherit;
  overflow-wrap: break-word;
}

.innerWrapper {
  padding: 10px;
}

p.output,
p.input {
  margin: 0px;
}

.visibleUserInput {
  overflow-wrap: inherit;
}

.Terminal {
  font-family: "Print Char 21", monospace;
  font-weight: 900;
}
