
/*---------------  CSS GRID LAYOUT  -------------------*/

.navBarContent{
  grid-area: navBarContent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logoText{
  font-family: "Source Code Pro", monospace;
  font-size: 0.9em;
}

.logoContainer{
  display: flex;
  min-width: 94px;
  justify-content: space-between;
  align-items: center;
}

.logoCursor{
  min-height: 22px;
}

.navLinks{
  min-width: 270px;
  max-height: 22px;
  display: flex;
  justify-content: space-around;
  font-family: "Source Code Pro", monospace;
  font-size: 0.9em;
}

.socialLinks{
  display: flex;
  justify-content: space-between;
  min-width: 54px;
}

.socialLinks img{
  width: 18px;
}

.navMenuIcon.fa{
  display: none;
}

.navMenuIconContainer{
  display: none;
}

@media (max-width: 600px){

  .logoContainer{
    margin-left: 6px;
  }

  .navMenuIconContainer{
    display: flex;
  }

  .navMenuIcon.fa{
    display: inline;
    margin-right: 6px;
    color: #FFFFFF;
    height: 100%;
  }

  .fa-bars::before{
    font-size: 1.3em;
  }

  .navLinks{
    display: none;
  }

  .modalSidebarContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
    align-items: center;
  }

  .ui-sidebar-top{
    background: #232d2d !important;
    color: #FFFFFF !important;
  }

  .ui-sidebar-close{
    color: #FFFFFF !important;
  }

  .ui-widget-content a {
    color: #FFFFFF !important;
    text-decoration: none !important;
    font-family: "Source Code Pro", monospace !important;
  }
}

/*---------------  Blinking Cursor for Logo  -------------------*/

.blinkingCursor {
  margin-left: 10px;
  font-size: 1em;
  font-weight: 100;
  transform: scale(1,1.4); /* W3C */
  -webkit-transform: scale(1,1.4); /* Safari and Chrome */
  -moz-transform: scale(1,1.4); /* Firefox */
  -ms-transform: scale(1,1.4); /* IE 9 */
  -o-transform: scale(1,1.4); /* Opera */
  font-family: "Source Code Pro";
  -webkit-animation: 1.2s blink step-end infinite;
  -moz-animation: 1.2s blink step-end infinite;
  -ms-animation: 1.2s blink step-end infinite;
  -o-animation: 1.2s blink step-end infinite;
  animation: 1.2s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}