
/*---------------  CSS GRID LAYOUT  -------------------*/

.homepageContent{
  grid-area: contentArea;
  display: grid;
  grid-template-rows: 100px 420px 20px;
  grid-template-areas: '............. title ..............'
                       'leftKeywords mugShot rightKeywords'
                       '......... bottomKeywords .........';
}

.homepageContent li{
  list-style-type: none;
  font-family: 'Print Char 21';
  font-size: 0.9em;
}

.title{
  grid-area: title;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  font-family: 'Print Char 21';
  font-size: 1.35em;
}

.leftKeywords{
  grid-area: leftKeywords;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
  padding: 75px 30px 50px;
}

.rightKeywords{
  grid-area: rightKeywords;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 75px 30px 50px;

}

.bottomKeywords{
  grid-area: bottomKeywords;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-right: 20px;
  padding-left: 20px;
  
}

.mugShot{
  grid-area: mugShot;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding-top: 60px;
}

.mugShot img {
  max-width: 360px;
}