
/*---------------  CSS GRID LAYOUT  -------------------*/

.homepageContent{
  grid-area: contentArea;
  display: grid;
  grid-template-rows: 100px 420px 20px;
  grid-template-areas: '............. title ..............'
                       'leftKeywords mugShot rightKeywords'
                       '......... bottomKeywords .........';
}

@media (max-width: 800px) {
  .homepageContent{
    grid-area: contentArea;
    display: grid;
    grid-template-rows: 100px 420px 420px;
    grid-template-areas: '................. title title title ...................'
                         '.............. mugShot mugShot mugShot ................'
                         '........ leftKeywords bottomKeywords rightKeywords .........'                  
  }
}

@media (max-width: 600px) {
  .homepageContent{
    grid-area: contentArea;
    display: grid;
    grid-template-rows: 100px 360px 420px;
    grid-template-areas: '................. title title title ...................'
                         '.............. mugShot mugShot mugShot ................'
                         '........ leftKeywords bottomKeywords rightKeywords .........'
                         
  }
}

.homepageContent li{
  list-style-type: none;
  font-family: 'Print Char 21';
  font-size: 0.9em;
}

.title{
  grid-area: title;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  font-family: 'Print Char 21';
  font-size: 1.35em;
}

.mugShot{
  grid-area: mugShot;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding-top: 60px;
}

.mugShot img {
  max-width: 360px;
}

.leftKeywords{
  grid-area: leftKeywords;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
  padding: 75px 30px 50px;
}

.rightKeywords{
  grid-area: rightKeywords;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 75px 0px 50px;

}

.bottomKeywords{
  grid-area: bottomKeywords;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
}


@media (max-width: 800px) {
  .leftKeywords{
    padding: 0px 0px 180px 100px;
    font-size: 0.9em;
    text-align: center;
  }

  .rightKeywords{
    font-size: 0.9em;
    padding: 0px 100px 180px 0px;
    text-align: center;
  }

  .bottomKeywords{
    /*margin-top: -100px;*/
    padding-top: 0px;
    font-size: 0.9em;
    grid-area: bottomKeywords;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    margin-bottom: 180px;
  }

  .mugShot{
    max-width: 600px;
    padding-top: 40px;
  }

  .title{
    max-width: 600px;
    font-size: 1.35em;
  }
}


@media (max-width: 600px) {
  .leftKeywords{
    padding: 40px 0px 180px 20px;
    font-size: 0.8em;
    text-align: center;
  }

  .rightKeywords{
    font-size: 0.8em;
    padding: 40px 20px 180px 0px;
    text-align: center;
  }

  .bottomKeywords{
    /*margin-top: -100px;*/
    padding-top: 0px;
    font-size: 0.8em;
    grid-area: bottomKeywords;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    margin-bottom: 180px;
    padding-top: 40px;
  }

  .mugShot{
    max-width: 420px;
    padding-top: 40px;
  }

  .title{
    max-width: 420px;
    font-size: 1.2em;
  }
}
