
/*---------------  CSS GRID LAYOUT  -------------------*/

.homepageContent{
  grid-area: contentArea;
  display: grid;
  grid-template-rows: 90px 428px 54px;
  grid-template-areas: '............. title ..............'
                       'leftKeywords mugShot rightKeywords'
                       '......... bottomKeywords .........';
}

.homepageContent li{
  list-style-type: none;
  font-family:'Print Char 21';
  font-size: 0.9em;
}

.title{
  grid-area: title;
  display:flex;
  justify-content: space-around;
  align-items: flex-end;
  font-family: 'Print Char 21';
  font-size: 1.35em;
}

.leftKeywords{
  grid-area: leftKeywords;
  display: flex;
  max-height: 428px;
  flex-direction: column;
  justify-content: space-around;
  text-align: right;
}

.rightKeywords{
  grid-area: rightKeywords;
  display: flex;
  max-height: 428px;
  flex-direction: column;
  justify-content: space-around;
}

.bottomKeywords{
  grid-area: bottomKeywords;
  display: flex;
  flex-direction: row;
  max-width: 428px;
  justify-content: space-around;
  align-items: flex-start;
  
}

.mugShot{
  grid-area: mugShot;
  display: flex;
  max-height: 428px;
  justify-content: space-around;
  align-items: center;
}

.mugShot img {
  max-width: 360px;
}