

/*
.appContainer{
  display:grid;
  grid-template-columns:1fr;
  grid-template-rows:1fr 20fr;
  grid-template-areas: 'navBar'
                       'contentAreaContainer';
  height:100vh;
  width: 100vw;
}

.navBar{
  grid-area: navBar;
  display: grid;
  min-height: 40px;
  grid-template-columns: auto 810px auto;
  grid-template-areas: '...  navBarContent  ...';
  background-color: #232D2D;
  margin-bottom:20px;
}*/


#pr_id_6 {
  display: grid !important;
  grid-template-rows: 30px 410px 60px !important;
  grid-template-areas: ' modalTitleBox '
                       ' modalContent  '
                       ' modalButtons  ';
  height: 500px;
  width: 450px;
}

.ui-widget-header {
  grid-area: modalTitleBox !important;
  display: grid !important;
  grid-template-columns: 25px 135px 130px 160px !important;
  grid-template-areas: ' modalCloseBox paddingLinesLeft modalTitle paddingLinesRight';
  background: #FFFFFF !important;
}

.ui-widget-header::before {
 content: "" !important;
 background: linear-gradient(to bottom, #f6f7f9 0%, #ebedf0 100%) !important;
 grid-area: paddingLinesLeft !important;
}

.ui-widget-header::after {
 content: "" !important;
 background: linear-gradient(to bottom, #f6f7f9 0%, #ebedf0 100%) !important;
 grid-area: paddingLinesRight !important;
}

.ui-dialog-titlebar-close {
  grid-area: modalCloseBox !important;
}

.ui-dialog-title {
  grid-area: modalTitle !important;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.ui-dialog-content {
  grid-area: modalContent !important;
}

.ui-dialog-footer {
  grid-area: modalButtons !important;
}

.ui-dialog.ui-widget .ui-dialog-titlebar {
  padding: 0px !important;
}

.ui-dialog.ui-widget .ui-dialog-titlebar .ui-dialog-title {
    font-size: 0.9em !important;
    font-family: 'Print Char 21' !important;
}

.ui-widget-header .ui-button, .ui-widget-content .ui-button, .ui-widget.ui-button, .ui-button {
    border: 1px solid #232d2d !important;
    border-radius: 4px !important;
    color: #232d2d !important;
    background: #FFFFFF !important;
    -webkit-transition: border .2s;
    -o-transition: border .2s;
    transition: border .2s;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-family: "Print Char 21" !important;
    font-size: 0.9em !important;
}

.ui-button:focus,
.ui-button:enabled:hover,
.ui-fileupload-choose:not(.ui-state-disabled):hover {
  outline: 0 none;
  border: 2px solid #232d2d !important;
}

.ui-widget-content {
  border: none !important; 
}

.ui-dialog-content {
  font-family: 'Print Char 21' !important;
  font-size: 0.7em !important;
}

/*  .ui-button:focus a,
  .ui-button:enabled:hover a,
  .ui-fileupload-choose:not(.ui-state-disabled):hover a {
    color: #212121; }

.ui-button:enabled:active,
.ui-fileupload-choose:not(.ui-state-disabled):active {
  border-color: #bebebe;
  background: #d6d6d6;
  color: #212121; }*/

/*.modalWrapper {
  display: grid;
  height:100%;
  width: 100%;

}

.modal {
  display: grid;
  grid-template-rows: 100px 500px 100px;
  grid-template-areas:       'titleArea'
                       'projectDescriptionArea'
                            'buttonArea';
  z-index: 1027;
}

.titleArea {
  grid-area: titleArea;
}

.closeIcon {

}

.projectDescription {
  grid-area: projectDescriptionArea;
}

.buttonArea {
  grid-area: buttonArea;
}

.gitHubButton {

}

.liveProjectButton {

}

.shadow {
 z-index: 1000;
 position: fixed;
 width: 100%;
 height: 100%;
 background: #666666;
 opacity: .50;
}*/