
/*---------------  CSS GRID LAYOUT  -------------------*/

.projectsContent{
  grid-area: contentArea;
  display: grid;
  grid-template-rows: 100px 500px;
  grid-template-areas: '......... title title title ..........'
                       '... leftProjects ... rightProjects ...';
}

.projectsContent li{
  list-style-type: none;
  font-family: 'Print Char 21';
  font-size: 0.9em;
}

.leftProjects{
  grid-area: leftProjects;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: right;
  padding-top: 30px;
  padding-bottom: 30px;
} 

.rightProjects{
  grid-area: rightProjects;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
  padding-top: 30px;
  padding-bottom: 30px;
}

.projectListItem {
  display: inline;
  padding: 4px;
  border: thin solid #FFFFFF;
  border-radius: 4px;
  cursor: pointer;
}

.projectListItem:hover {
  border: thin solid #232d2d;
}

@media (max-width: 420px) {
  .projectsContent {
    grid-template-rows: 60px 500px;
  }

  .rightProjects {
    padding-left: 10px;
  }

  .leftProjects {
    padding-right: 10px;
  }
}


