.body {
  padding:0;
}


/*---------------  CUSTOM FONT  -------------------*/

@font-face {
    font-family:'Print Char 21';
    src: url('../fonts/Print Char 21.eot');
    src: url('../fonts/Print Char 21.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Print Char 21.woff2') format('woff2'),
    url('../fonts/Print Char 21.woff') format('woff'),
    url('../fonts/Print Char 21.svg#Print Char 21') format('svg');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}

/*---------------  HOME PAGE STYLES -------------------*/

.homeText {
  font-family:'Print Char 21';
  font-size: 16px;
}

.nameText {
  font-family:'Print Char 21';
  font-size: 22px;
  margin-bottom: 60px;
}

ul.keywords {
  list-style-type: none;
  -webkit-padding-start:0;
}

.bottom li {
  display:inline;
  margin-right: 40px;
}

.bottom li.final {
  margin-right:0;
}

.keywords li {
  margin-bottom:80px;
}

.piebri {
  max-width: 384px;
}




/*---------------  NAV BAR STYLES  -------------------*/

/*.link-unstyled {
  &,
  &:visited,
  &:hover,
  &:active,
  &:focus,
  &:active:hover {
    font-style: inherit;
    color: inherit;
    background-color: transparent;
    font-size: inherit;
    text-decoration: none;
    font-variant: inherit;
    font-weight: inherit;
    line-height: inherit;
    font-family: inherit;
    border-radius: inherit;
    border: inherit;
    outline: inherit;
    box-shadow: inherit;
    padding: inherit;
    vertical-align: inherit;
  }
}*/


.header {
  margin-bottom: 60px;
  background-color: #232D2D;
}

.navText {
  font-family: "Source Code Pro", monospace;
  font-size: 16px;
}

.navLink {
  margin-right: 20px;
}

.blinking-cursor {
  margin-left: 5px;
  margin-right: 60px;
  font-weight: 100;
  font-family: "Source Code Pro";
  font-size: 18px;
  -webkit-animation: 1.2s blink step-end infinite;
  -moz-animation: 1.2s blink step-end infinite;
  -ms-animation: 1.2s blink step-end infinite;
  -o-animation: 1.2s blink step-end infinite;
  animation: 1.2s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}