body {
  padding:0;
  margin:0;
}


/*---------------  CSS GRID LAYOUT  -------------------*/

.appContainer{
  display:grid;
  grid-template-columns:1fr;
  grid-template-rows:1fr 20fr;
  grid-template-areas: 'navBar'
                       'contentAreaContainer';
  height:100vh;
  width: 100vw;
}

.navBar{
  grid-area: navBar;
  display: grid;
  max-height: 40px;
  grid-template-columns: auto 900px auto;
  grid-template-areas: '...  navBarContent  ...';
  background-color: #232D2D;
}

.navBarContent{
  grid-area: navBarContent;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  display: flex;
}

.navLinks{
  min-width: 300px;
  display:flex;
  justify-content: space-between;
}

.socialLinks{
  display: flex;
}

.contentAreaContainer{
  grid-area: contentAreaContainer;
  display: grid;
  max-height:800px;
  grid-template-columns: auto 900px auto; 
  grid-template-areas: '... contentArea ...';
}


.homepageContent{
  grid-area: contentArea;
  display: grid;
  grid-template-rows: 100px 475px 60px;
  grid-template-areas: '............. title ..............'
                       'leftKeywords mugShot rightKeywords'
                       '......... bottomKeywords .........'
}

.homepageContent li{
  list-style-type: none;
  font-family:'Print Char 21';
  font-size: 1em;
}

.title{
  grid-area: title;
  font-weight: 900;
  display:flex;
  justify-content: space-around;
  align-items: flex-end;
  font-family: 'Print Char 21';
  font-size: 1.5em;
}

.leftKeywords{
  grid-area: leftKeywords;
  display: flex;
  max-height: 475px;
  flex-direction: column;
  justify-content: space-around;
  text-align: right;
}

.rightKeywords{
  grid-area: rightKeywords;
  display: flex;
  max-height: 475px;
  flex-direction: column;
  justify-content: space-around;
}

.bottomKeywords{
  grid-area: bottomKeywords;
  display: flex;
  flex-direction: row;
  max-width: 475px;
  justify-content: space-around;
  align-items: flex-start;
  
}

.mugShot{
  grid-area: mugShot;
  display: flex;
  max-height: 475px;
  justify-content: space-around;
  align-items: center;
}


.projects-content{
  grid-area: contentArea;
}

.contact-content{
  grid-area: contentArea;
}




/*---------------  CUSTOM FONT  -------------------*/

@font-face {
    font-family:'Print Char 21';
    src: url('../fonts/Print Char 21.eot');
    src: url('../fonts/Print Char 21.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Print Char 21.woff2') format('woff2'),
    url('../fonts/Print Char 21.woff') format('woff'),
    url('../fonts/Print Char 21.svg#Print Char 21') format('svg');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}

/*---------------  HOME PAGE STYLES -------------------*/

.piebri {
  max-width: 400px;
}

/*.homeText {

}

.nameText {

  margin-bottom: 60px;
}*/

/*ul.keywords {
  list-style-type: none;
  -webkit-padding-start:0;
}

.bottom li {
  display:inline;
  margin-right: 40px;
}

.bottom li.final {
  margin-right:0;
}

.keywords li {
  margin-bottom:80px;
}*/






/*---------------  NAV BAR STYLES  -------------------*/

/*.link-unstyled {
  &,
  &:visited,
  &:hover,
  &:active,
  &:focus,
  &:active:hover {
    font-style: inherit;
    color: inherit;
    background-color: transparent;
    font-size: inherit;
    text-decoration: none;
    font-variant: inherit;
    font-weight: inherit;
    line-height: inherit;
    font-family: inherit;
    border-radius: inherit;
    border: inherit;
    outline: inherit;
    box-shadow: inherit;
    padding: inherit;
    vertical-align: inherit;
  }
}*/

.linkedin {
  margin-right: 14px;
}


.navText {
  font-family: "Source Code Pro", monospace;
  font-size: 16px;
}

/*.navLink {
  margin-right: 20px;
}*/

.blinking-cursor {
  margin-left: 5px;
  margin-right: 60px;
  font-weight: 100;
  font-family: "Source Code Pro";
  font-size: 18px;
  -webkit-animation: 1.2s blink step-end infinite;
  -moz-animation: 1.2s blink step-end infinite;
  -ms-animation: 1.2s blink step-end infinite;
  -o-animation: 1.2s blink step-end infinite;
  animation: 1.2s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}